<div id="<%= dom_id datacontact %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">First name:</strong>
    <%= datacontact.first_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Last name:</strong>
    <%= datacontact.last_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Lead:</strong>
    <%= datacontact.lead_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Email:</strong>
    <%= datacontact.email %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Phone:</strong>
    <%= datacontact.phone %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Date of birth:</strong>
    <%= datacontact.date_of_birth %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Place of birth:</strong>
    <%= datacontact.place_of_birth %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Fiscal code:</strong>
    <%= datacontact.fiscal_code %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Vat number:</strong>
    <%= datacontact.vat_number %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Billing name:</strong>
    <%= datacontact.billing_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Billing address:</strong>
    <%= datacontact.billing_address %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Billing zip:</strong>
    <%= datacontact.billing_zip %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Billing city:</strong>
    <%= datacontact.billing_city %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Billing country:</strong>
    <%= datacontact.billing_country %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Meta:</strong>
    <%= datacontact.meta %>
  </div>
</div>
