<%= form_with(model: [:superadmin, lead], class: "contents") do |form| %>
  <% if lead.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(lead.errors.count, "error") %> prohibited this lead from being saved:</h2>

      <ul class="list-disc ml-6">
        <% lead.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": lead.errors[:name].none?, "border-red-400 focus:outline-red-600": lead.errors[:name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :surname %>
    <%= form.text_field :surname, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": lead.errors[:surname].none?, "border-red-400 focus:outline-red-600": lead.errors[:surname].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :username %>
    <%= form.text_field :username, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": lead.errors[:username].none?, "border-red-400 focus:outline-red-600": lead.errors[:username].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :email %>
    <%= form.text_field :email, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": lead.errors[:email].none?, "border-red-400 focus:outline-red-600": lead.errors[:email].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :phone %>
    <%= form.text_field :phone, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": lead.errors[:phone].none?, "border-red-400 focus:outline-red-600": lead.errors[:phone].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :token %>
    <%= form.text_field :token, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": lead.errors[:token].none?, "border-red-400 focus:outline-red-600": lead.errors[:token].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": lead.errors[:user_id].none?, "border-red-400 focus:outline-red-600": lead.errors[:user_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :parent_id %>
    <%= form.number_field :parent_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": lead.errors[:parent_id].none?, "border-red-400 focus:outline-red-600": lead.errors[:parent_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :referral_lead_id %>
    <%= form.number_field :referral_lead_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": lead.errors[:referral_lead_id].none?, "border-red-400 focus:outline-red-600": lead.errors[:referral_lead_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :meta %>
    <%= form.text_field :meta, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": lead.errors[:meta].none?, "border-red-400 focus:outline-red-600": lead.errors[:meta].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
