<div id="<%= dom_id commitment %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Journey:</strong>
    <%= commitment.journey_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Taxbranch:</strong>
    <%= commitment.taxbranch_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Eventdate:</strong>
    <%= commitment.eventdate_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Role name:</strong>
    <%= commitment.role_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Area:</strong>
    <%= commitment.area %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Role:</strong>
    <%= commitment.role %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Role count:</strong>
    <%= commitment.role_count %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Compensation euro:</strong>
    <%= commitment.compensation_euro %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Compensation dash:</strong>
    <%= commitment.compensation_dash %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Duration minutes:</strong>
    <%= commitment.duration_minutes %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Importance:</strong>
    <%= commitment.importance %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Urgency:</strong>
    <%= commitment.urgency %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Energy:</strong>
    <%= commitment.energy %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Position:</strong>
    <%= commitment.position %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Commitment kind:</strong>
    <%= commitment.commitment_kind %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= commitment.notes %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Meta:</strong>
    <%= commitment.meta %>
  </div>
</div>
