<%= form_with(model: tag_positioning, class: "contents") do |form| %>
  <% if tag_positioning.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(tag_positioning.errors.count, "error") %> prohibited this tag_positioning from being saved:</h2>

      <ul class="list-disc ml-6">
        <% tag_positioning.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :taxbranch_id %>
    <%= form.text_field :taxbranch_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": tag_positioning.errors[:taxbranch_id].none?, "border-red-400 focus:outline-red-600": tag_positioning.errors[:taxbranch_id].any?}] %>
  </div>



  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": tag_positioning.errors[:name].none?, "border-red-400 focus:outline-red-600": tag_positioning.errors[:name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :category %>
    <%= form.text_field :category, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": tag_positioning.errors[:category].none?, "border-red-400 focus:outline-red-600": tag_positioning.errors[:category].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :metadata %>
    <%= form.text_field :metadata, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": tag_positioning.errors[:metadata].none?, "border-red-400 focus:outline-red-600": tag_positioning.errors[:metadata].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
