<div id="<%= dom_id slot_template %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Lead:</strong>
    <%= slot_template.lead_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= slot_template.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= slot_template.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Day of week:</strong>
    <%= slot_template.day_of_week %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Time start:</strong>
    <%= slot_template.time_start %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Time end:</strong>
    <%= slot_template.time_end %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Repeat rule:</strong>
    <%= slot_template.repeat_rule %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Repeat every:</strong>
    <%= slot_template.repeat_every %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Repeat start:</strong>
    <%= slot_template.repeat_start %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Repeat end:</strong>
    <%= slot_template.repeat_end %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Seasons:</strong>
    <%= slot_template.seasons %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Jsonb:</strong>
    <%= slot_template.jsonb %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Color hex:</strong>
    <%= slot_template.color_hex %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Taxbranch:</strong>
    <%= slot_template.taxbranch_id %>
  </div>
</div>
